<div class="card card-retiro">
  <div class="card-content-retiro">
    <h3>NUMERO DE PEDIDO:<%= retiro.user_id %></h3>
    <article class="contenedor-boton-eliminar">
      <form
        action="/retiro/<%= retiro.user_id %>?_method=delete"
        method="POST"
        style="display: inline-flex"
      >
        <button type="submit" class="">Entregado</button>
      </form>
    </article>
  </div>
</div>
